.input-search{
    position: relative;
    overflow: auto;
}
.search-filter > input{
    background-color: transparent !important;
    border:none !important;
    border-bottom: 1px solid black !important;
}
.search-filter > input:focus{
    border:none !important;
    outline: none !important;
    border-bottom: 2px solid black !important;
}
